streamlit
cleantext
deep-translator
vaderSentiment
numpy
# pickle5
tensorflow
# re
textblob
spacy
sumy
googletrans
transformers
python-dotenv
SpeechRecognition
PyAudio
gTTs
keras-preprocessing
scikit-learn
deep-translator
vaderSentiment
tensorflow
keras-preprocessing
librosa
matplotlib
sklearn
sounddevice
scipy
cleantext
numpy
opencv-python
deepface
