googletrans
streamlit
requests
python-dotenv
streamlit
streamlit_bokeh_events
bokeh
streamlit
clean-text
deep-translator
vaderSentiment
numpy
pickle5
tensorflow
re
textblob
spacy
sumy
transformers
